body {
  margin: 0;
  padding: 0;
}

:deep(.el-header) {
  height: 30px;
}

:deep(.el-main) {
  padding: 0;
}

:deep(.el-dialog__footer) {
  border-top: 1px solid #00000026;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
}

:deep(.el-dialog) {
  border-radius: 4px;
}

:deep(.el-dialog__header) {
  border-bottom: 1px solid #ebeef5;
  background-color: #f8f8f8;
  border-radius: 4px;
  margin-right: 0;
}
